<a href="https://colab.research.google.com/github/lokesh238g6/pythonlab/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
name=input("enter student name:")
roll=int(input("enter roll no:"))
m1=int(input("enter marks:"))
m2=int(input("enter marks;"))
m3=int(input("enter marks;"))
m4=int(input("enter marks;"))
m5=int(input("enter marks:"))
total=int(m1)+int(m2)+int(m3)+int(m4)+int(m5);
avg=total/5;
print("student name is"+name)
print("roll no is",roll)
print("subjct 1 marks is",m1)
print("subjct 2 marks is",m2)
print("subjct 3 marks is",m3)
print("subjct 4 marks is",m4)
print("subjct 5 marks is",m5)
print("total is",total)
print("average is",avg)

enter student namelokesh
enter roll no45
enter marks34
enter marks47
enter marks87
enter marks78
enter marks67
student name islokesh
roll no is 45
subjct 1 marks is 34
subjct 2 marks is 47
subjct 3 marks is 87
subjct 4 marks is 78
subjct 5 marks is 67
total is 313
average is 62.6

In [17]:
"""a) Demonstrate about Basics of Python Programming.45

b) Demonstrate about fundamental Data types in Python Programming. (i.e., int, float, complex, bool and string types)
c) Demonstrate the working of following functions in Python.
 i) type( ) iii) range( )
d) Write a Python program to demonstrate various type conversion functions."""
#a)
print("welcome to python programming")
print("hello python")
a=int(input("enter a value"))
b=int(input("enter b value"))
add=a+b
sub=a-b
mult=a*b
div=a/b
mod=a%b
print("sum is",add,"\nsub is",sub,"\nmult is",mult,"\ndiv is",div,"\nmodule is",mod)

welcome to python programming
hello python
enter a value34
enter b value34
sum is 68
sub is 0
mult is 1156
div is 1.0
module is 0

In [23]:
#b
i=int(input("enter interger value"))
print("interger is",i)
f=float(input("enter float value"))
print("folating value is ",f)
#b=(input("enter boolean values x and y"))
a=5+6j;
print(a.real)
print(a.imag)
b=True;
c=False;
print(b)
print(c)
s=str(input("enter a string"))
print("string is ",s)

enter interger value3
interger is 3
enter float value4
folating value is  4.0
5.0
6.0
True
False
enter a stringlokesh
string is  lokesh

In [28]:
#c)

a=20;
print(type(a))
print(tuple(range(5)))
#d
print(type(float(a)))
print(float(a))

<class 'int'>
(0, 1, 2, 3, 4)
<class 'float'>
20.0